/* The switch */
 .switch {
   position: relative;
   display: inline-block;
   width: 40px;
   height: 20px;
   float:right;
 }

 /* Hide default HTML checkbox */
 .switch input {
   opacity: 0;
   width: 0;
   height: 0;
 }

 /* The slider */
 .slider {
   position: absolute;
   cursor: pointer;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background-color: #ccc;
   -webkit-transition: .4s;
   transition: .4s;
 }

 .slider:before {
   position: absolute;
   content: "";
   height: 14px;
   width: 14px;
   left: 2px;
   bottom: 2px;
   background: white;
   -webkit-transition: .4s;
   transition: .4s;
 }

 input:checked + .slider {
   background-color: #57068c;
 }

 input:focus + .slider {
   box-shadow: 0 0 1px #57068c;
 }

 input:checked + .slider:before {
   -webkit-transform: translateX(20px);
   -ms-transform: translateX(20px);
   transform: translateX(20px);
 }

 .slider.round {
   border-radius: 34px;
 }

 .slider.round:before {
   border-radius: 50%;
 }

 /* style of popup window */
 .a, .b, .c, .d, .e, .f {
   position: relative;
   background-color: lavender ;
   opacity: 0.9;
   padding: 2px;
   border: 0.2px;
   border-radius: 3px;
   font-size: 18px;
   line-height: 24px;
   font-weight: 300;
   padding-bottom: 1px;
 }

 .wrapper {
   display: grid; /* this applies only to direct child elements */
   grid-template-columns: repeat(3, 1fr); /* or 2fr 1fr 2fr; -  three columns 1fr = 200px */
   grid-auto-rows:minmax(45px, auto);
   column-gap: 2px;
   grip-gap: 1px;
   row-gap: 2px;
 }
 
 .b {
    grid-area: 2 / 1 / span 1 / span 1;
  }

 .a {
    grid-area: 2 / 2  / span 1 / span 2;
  }

 .c {
    grid-area: 4 / 1  / span 1 / span 3;
  }
 .d {
    grid-area: 5 / 1  / span 1 / span 3;
  }

 .e {
   grid-area: 1 / 1 / span 1 / span 3;
   position: relative;
   opacity: 0.9;
   filter: brightness();
   background-color: snow;
 }

 .f {
    grid-area: 3 / 1 / span 1 / span 3;
 }

 .g input {
   border-radius: 1px;
   border: 2px double #008081;
   background-color: whitesmoke;
   padding: 2px 1px;
   outline: none;
 }

 #btSubmit + #btAdd {
   position: absolute;
   right: 20px;
   outline:0;
 }

 #btSubmit:active {
  font-style: oblique;
 }

 #btSubmit:hover {
  background-color: #BF94E4;
 }

 #btAdd:active {
   outline: none;
   font-style: oblique;
   border-radius: 8px;
 }

 #btAdd:hover {
   background-color: #BF94E4;
   border-radius: 8px;
 }

 #btDeleteDate  {
  margin-top: 1px;
  position: absolute;
  right: 80px;
  outline:0;
  padding: 8px 5px;
  display: inline-block;
  font-size: 18px;
  border-radius: 7px;
 }

 #btDeleteTime {
  margin-top: 1px;
  position: absolute;
  right: 1px;
  outline:0;
  padding: 8px 5px;
  display: inline-block;
  font-size: 18px;
  border-radius: 7px;
 }

 #btDeleteDate:hover {
   background-color: #BF94E4;
 }

 #btDeleteTime:hover {
   background-color: #BF94E4;
 }
 .validateTips { border: 1px solid transparent; font-size:13px; text-align: left;}

 button {
   margin-top: 0.1px;
   float: right;
   outline: none;
   padding: 8px 5px;
   display: inline-block;
   margin: 1px 1px;
   font-size: 16px;
   border-radius: 5px;

 }


 input  {
   border-radius: 5px;
   border: 2px double #008081;
   background-color: whitesmoke;
   font-style: italic;
   padding: 10px 5px;
   outline: none;
 }

  body {
    width: max-content;
    background-color: snow;
    opacity: 0.9;
    text-overflow: ellipsis;
    color: #323439;
  }

  #container {
    display: grid;
  }

  h2 {
    margin-top: 8px;
  }

  ul {
    color: #008081;
    list-style-type: none;
  }
  li {
    margin-left: -30px;
    margin-top: -8px;
  }
  .c label {
    width:208px;
    display:inline-block;
  }
  .c button {
    margin-top: 0.001px;
    margin-right: 10px;
    padding: 8px 10px;
  }
 
  h2.img-title {
    position: absolute;
    left: 12%;
  }

  figure {
    position: absolute;
    left: -32px;
    margin-top: -0.5px;
    
  }

  .remove {
    padding-left: 3px;
    padding-right: 3px;
    margin-left: 1%;
    color: rgb(240,0,0);
  }
